@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans', sans-serif;
}
.logout-in {
  animation-name: logout-in-anim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes logout-in-anim {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logout-out {
  animation-name: logout-out-anim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes logout-out-anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}
